{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block content %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="home blockhome" id="home"> 
      <!-- Logo -->
  <div class="container-logo">
    <div class="row-fluid">
      <div class="span12">
      <h1 class="logo"><a href="#home" title=""><img src="{% static "img/logo.png" %}"alt="logo"/></a></h1>
      </div>
    </div>
  </div>
      <!-- Home Text -->
      <!-- First Text - Top of Page-->
  <div class="header-block">
  <div class="row-fluid">
    <div class="span12">
      <div class="container-first-text">
      <p><span class="font-green">The LandLord's Assistant.<br /></span> <span class="dark">The Tenant's Friend.</span></p>

      </div>
    </div>
  </div>

  <div class="container-second-text">
    <div class="row-fluid">
      <div class="span12">

  <p>Domovye streamlines relationships between tentants and landords. <br>
    We make it easy to <span style="color:#282; font-weight:700">pay rent</span>, <span style="color:#282; font-weight:700">manage properties</span>, and <span style="color:#282; font-weight:700">track revenue.</span> </p>

  <h3>We're here to<span style="color:#181; font-weight:700"> fix renting.</span></h3>
  <br>
  <a class="btn-large btn-success" data-toggle="modal" href="#myModal" >Login</a>

      </div>
    </div>
  </div>
</div>


 
</div>




<!-- MODAL SECTION -->
<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Login to domovye.com</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}" name="login_form">
    	{% csrf_token %}
      <p> {{ form.username.label_tag }}
          {{ form.username }}
      </p>
      <p>  {{ form.password.label_tag }}
           {{ form.password }}
      </p>
      <p><button type="submit" class="btn btn-primary" value="login" >Sign in</button>
      	 <input type="hidden" name="next" value="{{ next }}" />
        <a href="#">Forgot Password?</a>
      </p>
    </form>
  </div>
  <div class="modal-footer">
    New To domovye.com?
    <a href="#" class="btn btn-primary">Register</a>
  </div>
</div>
<!--- END OF MODAL SECTION -->

{% endblock %}
